{% extends "main/base.html" %}

{% block content %}
<!-- Hero Section -->
<div class="hero bg-base-200">
    <div class="hero-content text-base-content max-w-5xl py-20 pt-32">
        <div class="max-w-md">
            {% block hero_content %}
            <h1 class="mb-5 text-5xl font-bold text-primary">{% block hero_title %}AImage<sup>lab</sup>{% endblock %}</h1>
            <p class="mb-5">
                {% block hero_description %}
                Pioneering advances in Artificial Intelligence and Computer Vision since 1998.
                {% endblock %}
            </p>
            {% endblock %}
        </div>
    </div>
</div>

<!-- Page Content -->
{% block page_content %}{% endblock %}
{% endblock %}
