{% extends "main/base_with_hero.html" %}

{% block page_content %}
<div class="container mx-auto px-6 my-12">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
        <!-- Main Content -->
        <div class="lg:col-span-3">
            {% block main_content %}{% endblock %}
        </div>

        <!-- Sidebar -->
        <div class="lg:col-span-1">
            <div class="sticky top-24">
                {% block sidebar_content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}