{% extends "main/base.html" %}

{% block content %}
<!-- Hero Section -->
<div class="hero bg-base-200">  
    <div class="container px-6 text-base-content py-20 pt-32">
        <div>
            {% block hero_content %}
            <h1 class="mb-5 text-2xl md:text-5xl font-bold text-primary text-balance">{% block hero_title %}AImage<sup>Lab</sup>{% endblock %}</h1>
            <p class="mb-5 text-balance">
                {% block hero_description %}
                Pioneering advances in Artificial Intelligence and Computer Vision since 1998.
                {% endblock %}
            </p>
            {% endblock %}
        </div>
    </div>
</div>

<!-- Page Content -->
{% block page_content %}{% endblock %}
{% endblock %}
