{% extends "main/base_with_hero.html" %}
{% load static %}

{% block title %}People - AImageLab{% endblock %}

{% block hero_title %}This is AImage<sup>Lab</sup>{% endblock %}

{% block hero_description %}
Since 1998, more than 100 people have worked in AImage<sup>Lab</sup>, contributing to
cutting-edge research in AI vision. Learn more about our team and their groundbreaking work.
{% endblock %}

{% block page_content %}
<!-- Team Sections -->
<div class="container px-6 mx-auto">
    {% if grouped_profiles.professors %}
    {% include 'main/team_section.html' with section_title='Professors and Researchers' profiles=grouped_profiles.professors card_size='medium' %}
    {% endif %}

    {% if grouped_profiles.staff %}
    {% include 'main/team_section.html' with section_title='Staff' profiles=grouped_profiles.staff card_size='medium' %}
    {% endif %}

    {% if grouped_profiles.phd_students_and_co %}
    {% include 'main/team_section.html' with section_title='PhD Students and Research Fellows' profiles=grouped_profiles.phd_students_and_co card_size='medium' %}
    {% endif %}

    {% if grouped_profiles.alumni %}
    {% include 'main/team_section.html' with section_title='Alumni' profiles=grouped_profiles.alumni card_size='medium' is_alumni=True %}
    {% endif %}
</div>
<script type="module">
    import { createAvatar } from 'https://esm.sh/@dicebear/core@9';
    import { shapes } from 'https://esm.sh/@dicebear/collection@9';

    const dicebearImgs = document.querySelectorAll('[id^="dicebear-avatar-img"]');
    dicebearImgs.forEach(dicebearImg => {
        const seed = dicebearImg.dataset.seed || 'ailb';
        const avatar = createAvatar(shapes, {
            seed,
            backgroundColor: ['transparent'],
            shape1Color: ['BF0004'],
            shape2Color: ['ff4455'],
            shape3Color: ['801518'],
        });
        const svg = avatar.toString();
        const encoded = encodeURIComponent(svg);
        dicebearImg.src = `data:image/svg+xml,${encoded}`;
    });
</script>
{% endblock %}