
:root:has(input.theme-controller[value=aimagelab-theme]:checked),
[data-theme="aimagelab-theme"] {
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(88% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(39% 0.141 25.723);
  --color-primary-content: oklch(98% 0.002 247.839);
  --color-secondary: oklch(50% 0.213 27.518);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(76% 0.188 70.08);
  --color-accent-content: oklch(37% 0 0);
  --color-neutral: oklch(37% 0 0);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.233 130.85);
  --color-success-content: oklch(27% 0.072 132.109);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0.8rem;
  --radius-field: 0.8rem;
  --radius-box: 0.8rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1.5px;
  --depth: 0;
  --noise: 0;
}

:root {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1, 'ss04' 1;
    --simple-gradient: linear-gradient(135deg, var(--color-base-100), var(--color-base-200));
    --color-rita-red: oklch(54.626% 0.22417 29.223);
    --color-gran-green: oklch(62.272% 0.21188 142.511);
    --color-bobby-blue: oklch(53.582% 0.221 260.213);
    --color-simon-silver: oklch(87.302% 0.0001 271.152);

}

@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

#hero {
    background: var(--simple-gradient);
}

.h2-home{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: var(--color-primary);
}